<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>E-WEB| eCommerce</title>
    <meta charset="UTF-8" />
    <meta name="description" content=" E-WEB| eCommerce " />
    <meta name="keywords" content="divisima, eCommerce, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link href="/divisima/img/favicon.ico" rel="shortcut icon" />

    <script
      src="https://kit.fontawesome.com/04dcd0359c.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i"
      rel="stylesheet"
    />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/divisima/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/divisima/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/divisima/css/flaticon.css" />
    <link rel="stylesheet" href="/divisima/css/slicknav.min.css" />
    <link rel="stylesheet" href="/divisima/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="/divisima/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/divisima/css/animate.css" />
    <link rel="stylesheet" href="/divisima/css/style.css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 text-center text-lg-left">
              <!-- logo -->
              <a href="/" class="site-logo">E-WEB </a>
            </div>

            <div class="col-xl-6 col-lg-5">
              <form action="/products" method="GET" class="header-search-form">
                <input
                  type="text"
                  name="search"
                  placeholder="products search.."
                  class="form-control"
                />
                <button><i class="flaticon-search"></i></button>
              </form>
            </div>
            <div class="col-xl-4 col-lg-5">
              <div class="user-panel" class="mx-auto">
                <div class="up-item">
                  <% if(!currentUser){ %>
                  <a href="/login">login </a>...or..
                  <a href="/register">Create Account </a>
                  <% }else{%>

                  <a href=""><b><%=currentUser.google.username%></b> </a>
                  <div class="up-item">
                    <div class="up-item">
                      <i class="flaticon-profile"></i>
                      <a href="/logout">sign out</a>
                    </div>
                  </div>
                  <%if(currentProfile){%>
                  <div class="up-item">
                    <div class="shopping-card">
                      <i class="flaticon-bag"></i>
                      <span> <%=currentProfile.products.length%></span>
                    </div>
                    <div class="up-item">
                      <a href="/profiles/new">Shopping Cart</a>
                    </div>
                  </div>
                  <a href="/profiles/<%=currentProfile._id%>/edit">
                    <button class="flaticon-profile" class="btn btn-danger">
                      profile
                    </button>
                  </a>
                  <%}%> <%} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="main-navbar">
        <div class="container">
          <!-- menu -->
          <ul class="main-menu">
            <li><a href="#">Laptops</a></li>
            <li><a href="#">Mouses</a></li>
            <li><a href="#">Phones</a></li>
            <li>
              <a href="#"
                >Tablets
                <span class="new">New</span>
              </a>
            </li>
            <li>
              <a href="#">Shoes</a>
              <ul class="sub-menu">
                <li><a href="#">Sample test</a></li>
                <li><a href="#">Sample test</a></li>
                <li><a href="#">Sample test</a></li>
                <li><a href="#">Sample test</a></li>
                <li><a href="#">Sample test</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Pages</a>
              <ul class="sub-menu">
                <li><a href="#">Sample test</a></li>
                <li><a href="#">Sample test</a></li>
                <li><a href="#">Sample test</a></li>
                <li><a href="#">Sample test</a></li>
                <li><a href="#">Sample test</a></li>
              </ul>
            </li>
            <li><a href="#">(this main-navbar not active)</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Header section end -->
  </body>
</html>
