<%- include('header'); %>
<!--
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <h1>complete your profile</h1>
    <form action="/profiles/new" method="POST">
      <input type="text" name="name" placeholder="full name" />
      <input type="text" name="image" placeholder="image" />
      <input type="text" name="email" placeholder="email" />
      <button>submit !</button>
    </form>
    <form action="/profiles" method="POST">
      <button class="btn btn-warning">skip</button>
    </form>
  </div>
</nav>
-->
<form style="width: 30em; margin-left: 25em;"   class="text-center border border-light p-5" action="/profiles/new" method="POST">

  <p class="h4 mb-4">Complete your profile</p>

  <!-- Email -->
  <input type="text" id="defaultLoginFormEmail" name="name" class="form-control mb-4" placeholder="full name">

  <!-- Password -->
  <input type="text" id="defaultLoginFormPassword"  name="image" class="form-control mb-4" placeholder="image">

  <input type="text" id="defaultLoginFormPassword"  name="email" class="form-control mb-4" placeholder="Email">


  <!-- Sign up button -->
  <button class="btn btn-info btn-block my-4" type="submit">Submit</button>
  <form action="/profiles" method="POST">
    <button class="  btn-block my-4 btn btn-warning">skip</button>
  </form>

</form>

<%- include('footer'); %>
