<!DOCTYPE html>
<html>
  <head>
    <title>
      yelcamp
    </title>
  </head>
  <body>
    <h1>
      sign up
    </h1>
    <form action="/products/new" enctype="multipart/form-data" method="POST">
      <input type="text" name="productname" placeholder="productname" />
      <input type="file" name="product" />
      <input type="text" name="description" placeholder="description" />
      <input type="number" name="price" placeholder="price" />
      <button>Upload</button>
    </form>
  </body>
</html>
