<%- include('header'); %>
<h1>sign up</h1>

<form action="/register" method="POST">
  <input type="text" name="email" placeholder="name" />

  <input type="password" name="password" placeholder="password" />

  <button>sign up</button>
</form>

<%- include('footer'); %>
